.submit-btn {
  padding: 1rem 3rem;
  background: $red-primary-color;
  color: white;
  font-size: 2.0rem;
  border:none;
  display: block;
  transition: all .3s;

  &:hover {
    background: darken($red-primary-color, 15%);
  }

  &:focus {
    outline: none;
  }
}