/*************************
 *
 * COLORS
**************************/
$red-primary-color: hsl(360, 64, 55);
$background-yellow: hsl(40, 23, 97);


/*************************
 *
 * Padding
 ************************/
$padding-4: 4rem;
$padding-6: 6rem;


/************************
  *
  * Typography
  **********************/
$txt-16: 1.6rem;
$txt-14: 1.4rem;